@import 'colors';

$themes: (
  vuexp: (
    primary: $water-blue,
    primary-light: $water-blue-light,
    primary-dark: $water-blue,
    primary-text: $white,
    primary-light-text: $black,
    primary-dark-text: $white,
    secondary: $secondary-gray,
    secondary-light: $secondary-gray,
    secondary-dark: $secondary-gray,
    secondary-text: $black,
    secondary-light-text: $black,
    secondary-dark-text: $white,
    alert: $violet-red,
    alert-light: $violet-red-80,
    alert-dark: $violet-red-20,
    alert-text: $violet-red-80,
    warn: $old-gold,
    warn-text: $old-gold-80,
    success: $kelly-green,
    success-text: $kelly-green-80,
    base-01: $water-blue,
    base-02: linear-gradient(135deg, $water-blue, $water-blue-light),
    base-03: $black,
    base-04: $gray-40,
    base-07: $white,
    base-08: $alert-red,
    base-09: $green-status,
    base-10: $secondary-gray,
    base-12: $gray-20,
    base-13: $water-blue-50,
    base-18: $denim,
    base-19: $silver-sand,
    oslo-gray-30: $oslo-gray-30,
    typography-display-4: $gray-60,
    typography-display-3: $gray-60,
    typography-display-2: $gray-60,
    typography-display-1: $gray-60,
    typography-headline: $gray-90,
    typography-title: $gray-90,
    typography-subhead-1: $gray-90,
    typography-body-2: $gray-90,
    typography-body-1: $gray-90,
    typography-caption: $gray-60,
    typography-menu: $gray-90,
    typography-button: $gray-90,
    default-background: $white,
    default-text: $black,
  ),
  alternative: (
    primary: $dodger-blue,
    primary-light: $dodger-blue-80,
    primary-dark: $dodger-blue-20,
    primary-text: $white,
    primary-light-text: $black,
    primary-dark-text: $white,
    secondary: $malachite,
    secondary-light: $malachite-80,
    secondary-dark: $malachite-20,
    secondary-text: $white,
    secondary-light-text: $black,
    secondary-dark-text: $white,
    alert: $venetian-red,
    alert-light: $venetian-red-80,
    alert-dark: $venetian-red-20,
    alert-text: $venetian-red-80,
    warn: $pumpkin,
    warn-text: $pumpkin-80,
    success: $lawn-green,
    success-text: $lawn-green-80,
    base-1: $bismark,
    base-2: $bismark-20,
    base-3: $bismark-60,
    base-4: $bismark-80,
    typography-display-4: $gray-60,
    typography-display-3: $gray-60,
    typography-display-2: $gray-60,
    typography-display-1: $gray-60,
    typography-headline: $gray-90,
    typography-title: $gray-90,
    typography-subhead-1: $gray-90,
    typography-body-2: $gray-90,
    typography-body-1: $gray-90,
    typography-caption: $gray-60,
    typography-menu: $gray-90,
    typography-button: $gray-90,
    default-background: $white,
    default-text: $black,
  ),
  pink: (
    primary: $pink-50,
    primary-light: $pink-20,
    primary-dark: $pink-90,
    primary-text: $white,
    primary-light-text: $black,
    primary-dark-text: $white,
    secondary: $purple-50,
    secondary-light: $purple-20,
    secondary-dark: $purple-90,
    secondary-text: $white,
    secondary-light-text: $black,
    secondary-dark-text: $white,
    alert: $violet-red,
    alert-light: $violet-red-80,
    alert-dark: $violet-red-20,
    alert-text: $white,
    base-1: $blue-gray-00,
    base-2: $blue-gray-20,
    base-3: $blue-gray-40,
    base-4: $blue-gray-60,
    typography-display-4: $gray-60,
    typography-display-3: $gray-60,
    typography-display-2: $gray-60,
    typography-display-1: $gray-60,
    typography-headline: $gray-90,
    typography-title: $gray-90,
    typography-subhead-1: $gray-90,
    typography-body-2: $gray-90,
    typography-body-1: $gray-90,
    typography-caption: $gray-60,
    typography-menu: $gray-90,
    typography-button: $gray-90,
    default-background: $white,
    default-text: $black,
  ),
);

/*
 * Implementation of themes
 */
 @mixin themed($themes) {
  @each $theme, $map in $themes {
    .theme--#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function getvar($key) {
  @return map-get($theme-map, $key);
}
